/*------------------  -----------  ----------------------*/
   /*==================* Variables *====================*/
/*-------------------  -----------  ----------------------*/


:root {
    --brown-default: #341c10; 
    --brown-darker: #190805; 
    --brown-lighter: #4d3119; 
    --brown-light-hover: #8d5830;
    --link-blue: rgb(182, 224, 222);
    --link-blue-stronger: rgb(160, 200, 230);
    --yellow-grey: #f6eac4;
    --yellow-default: #feebb1;
    --yellow-link-hover: #fffdc0;
    --yellow-input: #eed8a0;
    --yellow-input-focus: #ffd880;
    --red-invalid-symbol: #e08420;
    --red-invalid-input: #f05400;
    --red-box-shadow: #ffad70;
    --grey-yellow-light: #dbcfa7;
    --grey-yellow-dark: #d1c59d;
}


/*-------------------  -----------  ----------------------*/
   /*==================* Fonts *====================*/
/*-------------------  -----------  ----------------------*/

@font-face {
    font-family: "Campagnon";
    src: url("/fonts/Compagnon/compagnon-medium-webfont.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "KingThings";
    src: url("/fonts/KingThings/kingthings_foundation-webfont.woff2") format("woff2"),
        url("/fonts/KingThings/kingthings_foundation-webfont.woff") format("woff"),
        url("/fonts/KingThings/Kingthings_Foundation.ttf") format("ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "ShanRegular";
    src: url("/fonts/Shangrilian/ShanRegular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}


/*-------------------  -----------  ----------------------*/
   /*==================* General *====================*/
/*-------------------  -----------  ----------------------*/


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

body {
    font-family: "Ubuntu Regular, Serif";
    font-size: calc(0.7em + 0.3vw);
    background: url("/images/pattern.webp") center / 30em;
    color: var(--brown-default);
}

a {
    text-decoration: none;
    color: var(--yellow-default);
    font-weight: bold;
    transition: all 0.1s ease-in-out;
}

table {
    border-collapse: collapse;
}

button {
    border: 0;
    transition: all 0.1s ease-in-out;
    cursor: pointer;
}

ul {
    list-style-type: none;
}

textarea,
input, 
button {
    font-family: inherit;
    font-size: inherit;
}

a, h1, h2, h3 {
    font-family: "KingThings";
}

a:hover {
    color: var(--link-blue-stronger);
}

li a {
    display: block;
}


img {
    max-width: 100%;
}


textarea {
    resize: vertical;
    overflow: auto;
}

/*-------------------  -----------  ----------------------*/
   /*==================* Utilities *====================*/ 
/*-------------------  -----------  ----------------------*/


.ut-wrapper {
    width: 90%;
    margin: 0 auto;
}

.ut-row-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row wrap;
}

.ut-flow > * + * {
    margin-top: var(--flow-space, 1em);
}

.ut-info-wide-article {
    padding: 4em 10%;
}


/*-------------------  -----------  ----------------------*/
   /*==================* Site Wide *====================*/
/*-------------------  -----------  ----------------------*/

.main-title {
    font-size: 1.5em;
    padding-top: 4em;
    padding-bottom: 2em;
    text-align: center;
    background: linear-gradient(to bottom, var(--brown-default), var(--brown-darker));
    color: var(--yellow-default);
}

.main-title h1 {
    translate: -0.1em;
}

.pretty-card-box-wrapper {
    display: inline-block;
    height: 6em;
    position: relative;
}

.pretty-card {
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
}


.pretty-card-light-box {
    background-image: url("/images/icons/LightCard.png");
    height: 100%;
    color: var(--brown-default);
}

.pretty-card-light-box span {
    translate: 0 0.5em;
    font-size: 1.3em;
}

.pretty-card-image {
    position: absolute;
    left: 0;
    bottom: 10%;
    height: 40%;
    background: url("/images/icons/BrownCard.png") no-repeat center / contain;
}

.pretty-card-image a {
    translate: 0 50%;
    font-size: 1.5em;
}

.button-nav .button-link {
    margin-right: 2em;
}

.button-link {
    box-shadow: var(--yellow-default) 0 0 3px 0.4px;
    font-family: "KingThings";
    background-color: var(--brown-default);
    background: radial-gradient(var(--brown-default) 40%, var(--brown-darker));
    color: var(--yellow-default);
    border-radius: 0.2em;
    padding: 0.7em 1em;
    display: inline-block;
    text-align: center;
    transition: all 0.1s linear;
}


/* basic form - For General forms, layout and miscellanous info */

.basic-form :is(label, textarea, input, select) {
    width: 100%;
    border-radius: 0.2em;
    position: relative;
}

.basic-form {
    margin: 0em auto 3em auto;
    max-width: 35em;
}

.basic-form label {
    display: block;
}

.basic-form :is(input, textarea, select) {
    padding: 0.4em;
}

.basic-form label:has(+ *:required)::after {
    content: "Required";
    background-color: var(--brown-lighter);
    color: var(--yellow-default);
    padding: 0.3em;
    border-radius: 4px;
    position: absolute;
    right: 0;
}

.basic-form span {
    position: relative;
    left: 0.3em;
    font-size: 1.7em;
}

.basic-form *:invalid + span::after {
    content: "x";
    color: var(--red-invalid-symbol);
    position: absolute;
}

.basic-form *:valid + span::after {
    content: "✓";
    color: green;
    position: absolute;
}

.basic-form .button-link {
    font-size: 1.5em;
    width: 100%;
}


/* Form card - Typografy and colors */

.form-card *:disabled {
    background-color: var(--brown-darker);
    color: var(--yellow-default);
    border: 0;
    text-indent: 0;
    padding: 0;
    box-shadow: var(--yellow-default) 0 0 3px;
    padding: 0.5em;
    overflow: hidden;
    text-overflow: ellipsis;
}

.form-card *:invalid {
    box-shadow: inset var(--red-invalid-input) 0px 0px 3px 0px;
    animation: input-invalid 1.0s linear infinite; 
}

.form-card {
    border-radius: 1em;
    padding: 2em;
    background: linear-gradient(225deg, var(--brown-default) 40%, var(--brown-darker));
    color: var(--yellow-default)
}

.form-card label {
    margin-bottom: 0.4em;
}

.form-card h1 {
    text-align: center;
    margin-bottom: 0.5em;
    border-radius: 0.25em;
}

.form-card :is(input, textarea, select) {
    color: var(--brown-default);
    display: inline-block;
    border: 1px solid var(--yellow-default);
    background-color: var(--yellow-input);
    overflow: auto;
}

.form-card input:focus,
.form-card textarea:focus {
    background-color: var(--yellow-input-focus);
}


.product-card {
    border: 2px solid var(--brown-darker);
    padding: 1em;
    border-radius: 1em;
    box-shadow: inset var(--brown-lighter) 0 0 6px;
}

.product-card img {
    border-radius: 0.5em;
}

.product-card-info {
    padding: 0.2em;
}

.product-card-title {
    font-size: 1.2em;
    position: relative;
}

/*-------------------  -----------  ----------------------*/
   /*==================* Pages *====================*/
/*-------------------  -----------  ----------------------*/

/*-------------------  -----------  ----------------------*/
   /*==================* Header *====================*/
/*-------------------  -----------  ----------------------*/


.header {
    background-color: var(--brown-default);
}

.header-logo {
    height: 3em;
}

.header-logo img {
    width: calc(3em + 6vw);
    translate: 0 -40%;
}

.header-span {
    height: 4em;
}

.header-nav-wrapper {
    box-shadow: inset var(--grey-yellow-dark) 0 0 2px, black 0 -2px 8px;
    background-color: var(--brown-lighter);
}

.main-nav ul {
    font-size: 1.3em;
}

.main-nav .ut-row-nav {
    justify-content: center;
}

.main-nav li a:not(.header-logo):hover,
.button-link:hover {
    box-shadow: var(--red-box-shadow) 0 0 6px 1.0px;
    background-image: radial-gradient(farthest-corner, var(--brown-light-hover), var(--brown-default) 70%);
    color: var(--yellow-link-hover);
}

.button-link:hover {
    scale: 1.1;
}

.main-nav a {
    line-height: 3em;
    padding: 0 2em;
}

/*-------------------  -----------  ----------------------*/
   /*==================* Footer *====================*/
/*-------------------  -----------  ----------------------*/


.footer {
    background-color: var(--brown-default);
    background: linear-gradient(to bottom, var(--brown-default), var(--brown-darker));
    color: var(--yellow-default);
    text-align: center;
    position: relative;
}

.footer-wrapper {
    padding: 1em;
}

.footer-group {
    margin-bottom: 3em;
}

.footer li:first-child {
    list-style-type: none;
}

.footer li {
    list-style-type: disc;
    margin: 0 1em;
    padding: 0 0.5em;
}

.footer-wrapper {
    box-shadow: inset black 0 -1px 4px 2px, var(--grey-yellow-dark) 0 0px 4px;
    padding: 2em;
}

.footer-span {
    height: 4em;
}

.footer-icon {
    width: calc(5em + 3vw);
    position: absolute;
    bottom: 0;
    left: 50%;
    translate: -50%;
}



/*-------------------  -----------  ----------------------*/
   /*==================* Home Main *====================*/
/*-------------------  -----------  ----------------------*/

.home-main .ut-wrapper {
    background-image: url("/images/pattern/padraoHome.png");
}

.home-main h1 {
    font-size: 2.5em;
}


.info-card-article {
    padding: 2em;
}

.info-card-content {
    padding: 2em;
}

.info-card-main {
    margin-bottom: 1em;
}

.info-card-main p {
    margin-bottom: 1.5em;
}

.info-card-picture { 
    border: 1px solid var(--yellow-default);
    padding: 0.4em;
    margin-bottom: 2em;
}

.info-card-text {
    padding: 0 1.5em;
}

.pretty-card-box-wrapper {
    width: 100%;
}



.info-card-footer > nav {
    flex: 1;
}

.info-card-footer div {
    width: 4em;
    margin: 0 auto;
    margin-bottom: 1em;
}


.info-card-footer :is(li, a) {
    color: var(--link-blue);
}

.info-card-footer a:hover {
    color: var(--link-blue-stronger);
}

.info-card-footer ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.info-card-footer li {
    margin: 0.5em 2em;
}

.home-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25em, 1fr));
    justify-items: center;
}

.home-gallery > div {
    position: relative;
    padding: 1em 2em;
}



/*-------------------  -----------  ----------------------*/
   /*==================*  About Page *====================*/
/*-------------------  -----------  ----------------------*/

.floating-cards-article {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.floating-cards-article > div {
    flex: 1 24em;
    margin: 2em;
}

.floating-card-text {
    border: 2px solid var(--brown-lighter);
    padding: 2em;
    border-radius: 0.5em;
    background-color: var(--yellow-default);
}

.floating-card-text h1 {
    margin-bottom: 1em;
}

.floating-card-text p {
    margin-bottom: 1.5em;
}


/*-------------------  -----------  ----------------------*/
   /*==================* Contact Page *====================*/
/*-------------------  -----------  ----------------------*/

.main-card-page {
    padding-top: 5em;
}

.contact-link {
    text-align: right;
}

input:-webkit-autofill {
    -webkit-box-shadow: inset var(--yellow-input) 0 0 0 3em;
}

@keyframes input-invalid {
    0% {
        box-shadow: inset var(--red-invalid-input) 0px 0px 3px 0px;
    }

    50% {
        box-shadow: inset var(--red-invalid-input) 0px 0px 6px 0px;
    }

    100% {

        box-shadow: inset var(--red-invalid-input) 0px 0px 3px 0px;
    }
}
/*-------------------  -----------  ----------------------*/
   /*==================* Login *====================*/
/*-------------------  -----------  ----------------------*/

.login-error {
    color: var(--red-invalid-input);
    font-size: 1.1em;
}

.form-message {
    font-size: 1.2em;
}

/*-------------------  -----------  ----------------------*/
   /*==================* Logged  *====================*/
/*-------------------  -----------  ----------------------*/


.logged-form button {
    margin: 0.5em 0;
}


/*-------------------  -----------  ----------------------*/
   /*==================* Menu *====================*/
/*-------------------  -----------  ----------------------*/


.menu-type-list {
    background-color: var(--brown-lighter);
    font-size: 2em;
    box-shadow: inset black 0 0 8px;
}


.menu-type-list ul {
    display: flex;
    flex-flow: column;
}

.header-nav-wrapper {
    display: relative;
}

.menu-type-list a {
    margin: 0.5em;
    border-radius: 0.3em;
    padding: 0.2em 0.7em;
    background-color: var(--yellow-default);
    color: var(--brown-lighter);
    box-shadow: inset var(--brown-darker) 0 0 8px;
}

.menu-type-list a:hover {
    background-color: var(--brown-default);
    color: var(--yellow-default);
}

#hide-menu-type-list {
    background-color: var(--brown-lighter);
    border: 1px solid var(--brown-darker);
    width: 2.2em;
    height: 1.4em;
}

#hide-menu-type-list:hover {
    background-color: var(--brown-darker);
}

#hide-menu-type-list::after {
    content: "<";
    color: var(--yellow-default);
    font-size: 1.3em;
}


.menu-list h1 {
    padding: 1em;
    font-size: 2em;
}

.menu-list-items {
    padding: 0 2em 2em 2em;
    display: grid;
    gap: 2em;
    grid-template-columns: repeat(auto-fit, minmax(20em, 1fr));
    align-content: flex-start;
}

.product-menu-card-info {
    --flow-space: 10px;
}

.product-menu-card img {
    aspect-ratio: 1.6;
    object-fit: cover;
}

.product-menu-card {
    display: flex;
    flex-flow: column;
}

.product-menu-card .button-link {
    padding: 0.6em 2em;
}

.product-menu-card input {
    border: 1px solid var(--brown-darker);
    background-color: var(--yellow-input);
    width: 5em;
    margin-left: 10px;
}

.product-menu-card .product-card-title h2 {
    display: inline;
}

.product-menu-card .product-card-title span {
    right: 0;
    position: absolute;
}

.product-menu-card .product-card-info {
    flex: 1;
}


/*-------------------  -----------  ----------------------*/
   /*==================* Cart *====================*/
/*-------------------  -----------  ----------------------*/

.main-cart {
    padding: 2em 0;
}

.cart-items {
}

.cart-item-card {
    background-color: var(--brown-default);
    background: linear-gradient(225deg, var(--brown-default) 60%, var(--brown-darker));
    color: var(--yellow-default);
    margin: 0.5em 0;
    border-radius: 1em;
    box-shadow: inset black 0 0 8px 1px, var(--brown-darker) 0 0 2px;
}

.cart-item {
    display: flex;
    flex-flow: row wrap;
}

.cart-item-card > div:first-child {
    position: relative;
    height: 30px;
}

.cart-item-card .remove {
    color: var(--red-invalid-symbol);
    background-color: transparent;
    border: 0;
    position: absolute;
    right: 10px;
    top: 5px;
}

.cart-item > div {
    margin: -0.5em 1.3em 1.3em 1.3em;
}

.cart-item-figure {
    flex: 1 7em;
    max-width: 50%;
    border-radius: 1em;
}

.cart-item-info {
    flex: 1 70%;
    display: flex;
    justify-content: space-evenly;
}

.cart-item-description {
    flex: 1;
    padding: 0 1em;
}

.cart-item-info-price {
    font-weight: bold;
}

.cart-item-info-qtd {
    margin-bottom: 1em;
}

.cart-form-group .cart-form-space > * {
    width: 48%;
}

.cart-form-space {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart-finish-buy input {
    padding: 0.4em;
}

/*-------------------  -----------  ----------------------*/
   /*==================* Stock *====================*/
/*-------------------  -----------  ----------------------*/

.stock-main {
    padding-top: 1.0em;
    --flow-space: 20px;
}

.stock-main .menu-list-items {
    align-items: flex-start;
}

.stock-main h1 {
    margin: 0.2em 0;
}

.product-stock-card label {
    font-family: "KingThings";
    font-weight: bold;
    font-size: 1.5em;
}

.products-stock-change-image {
    display: none;
}

.products-stock-change-image-label {
    transition: all 0.1s linear;
}

.product-stock-card:has(input:enabled) .products-stock-change-image-label:hover {
    transition: all 0.1s linear;
    cursor: pointer;
    scale: 1.05;
    position: relative;
}

.product-stock-card:has(input:enabled) .products-stock-change-image-label:hover::after {
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1;
    content: "Change Image";
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
}

/*-------------------  -----------  ----------------------*/
/*==================* Modifiers *====================*/
/*-------------------  -----------  ----------------------*/

.dark-card {
    background-color: var(--brown-default);
    color: var(--yellow-default);
}

/*-------------------  -----------  ----------------------*/
   /*==================* States *====================*/
/*-------------------  -----------  ----------------------*/

[data-state~="disabled"] {
    display: none;
}


/*-------------------  -----------  ----------------------*/
/*==================* Media Query *====================*/
/*-------------------  -----------  ----------------------*/


@media screen and (min-width: 750px) {
    .info-card-main {
        display: flow-root;
    }

    .info-card-picture {
        float: left;
        width: 50%;
    }

    .info-card-text {
        width: 50%;
        float: left;
    }

    .info-card-footer {
        flex-wrap: nowrap;
        display: flex;
        align-items: center;
    }

    .info-card-footer ul {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .menu-main {
        display: flex;
    }
}

@media screen and (min-width: 1000px) {
    .home-main .ut-wrapper {
        display: grid;
        grid-template-columns: 2.5fr 1fr;
    }

    .home-main .ut-wrapper article {
        padding-right: 0em;
    }

    .home-gallery > div {
        width: 75%;
    }


    .pretty-card-image a {
        font-size: 1em;
    }

    .cart {
        display: grid;
        grid-template-columns: 2fr 1fr;
        align-items: flex-start;
        gap: 1em;
    }

    .cart-items {
        grid-row: 1 / 2;
    }

}

@media screen and (max-width: 800px) {
}

@media screen and (max-width: 1200px) {
    .header-logo {
        display: none;
    }
}
